.error {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgb(40,40,40);
    // font-family: "Proxima Nova"
}

.yui404 {
    height: 395px;
    width: 500px;
}