.error {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: lightgray;
    padding-left: 220px;
    height: 90.5vh;
    width: 100vw;
    background-color: rgb(40,40,40);
    // font-family: "Proxima Nova"
}

.yui404 {
    height: 395px;
    width: 500px;
}