.error {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: white;
    padding-left: 220px;
    height: 90.5vh;
    width: 100vw;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    // font-family: "Proxima Nova"
}

.yui404 {
    height: 395px;
    width: 500px;
}