.musicBar {
    display: flex;
    bottom: 0;
    position: fixed;
    height: 9.75vh;
    min-height: 90px;
    width: 100vw;
    border-top: 2px solid black;
    z-index: 3;
    background-color: rgb(40,40,40);
    color: lightgrey;
}

.now-playing-info {
    height: 9.75vh;
    min-height: 90px;
    width: 25%;
    min-width: 25%;
    display: flex;
    align-items: center;
    padding-left: calc(9.75vh - 60px);
    white-space: nowrap;
    text-overflow: ellipsis; 
}

.music-info {
    font-size: 12px;
    padding-left: 10px;
}

.info-song-title {
    font-size: 14px;
    font-weight: 1;
}

.now-playing-info > img {
    height: 60px;
    width: 60px;
}

.volume-rocker {
    display: flex;
    align-items: center;
    height: 9.75vh;
    min-height: 80px;
    width: 10%;
    min-width: 0px;
    margin-left: 12%;
}

.song-stuff {
    display: flex;
    width: 50vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(40,40,40);
}

.play {
    display: flex;
    padding-left: 10px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.back {
    display: flex;
    background-color: transparent;
    height: 60px;
    width: 60px;
    justify-content: flex-end;
}

.seekbar {
    z-index: 3;
    margin-bottom: 20px;
    width: 85%;
}

.controls {
    display: flex;
}

.forward {
    display: flex;
    background-color: transparent;
    height: 60px;
    width: 60px;
    justify-content: flex-start;
}

.e-range {
  display: block;
  appearance: none;
  width: 100%;
  margin: 0;
//   height: $height;
  overflow: hidden;
  cursor: pointer;
  
  &:focus {
    outline: none;
  }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
      width: 85%;
      -webkit-appearance: none;
      background-color: darkgray;
      border-radius: 5px;
    }
    
    input[type='range']::-webkit-slider-runnable-track {
      height: 10px;
      -webkit-appearance: none;
      color: rgb(219, 65, 182);
      margin-top: -1px;

    }
    
    input[type='range']::-webkit-slider-thumb {
      width: 12px;
      -webkit-appearance: none;
      height: 12px;
      cursor: ew-resize;
      background: lightgray;
      box-shadow: -400px 0 0 400px rgb(219, 65, 182);
    }

}

.mute {
    display: flex;
    justify-content: flex-end;
    height: 50px;
    width: 50px;
    background-color: transparent;
}

// p {
//     border: 3px solid red;
// }