.navbar {
    display: flex;
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, .75);
    height: 75px;
    z-index: 3;
    color: white;
    align-items: center;
    justify-content: space-between;
}

#logo {
    display: flex;
    margin-left: 20%;
    height: 40px;
    width: 40px;
    align-items: center;
}

#apptitle {
    /* font-family: proxima */
    // font-family: 'Proxima-Nova';
    margin-left: 5px;
    font-size: 25px;
}

#menu {
    display: flex;
    // font-family: 'Proxima-Nova';
}

.nav-right {
    display: flex;
    width: 36.5%;
    margin-right: 7.5%;
    font-size: 16;
    font-weight: 700;
}

.menu-item {
    display: inline;
    margin-right: 11%;
    white-space: nowrap;
}

#menu > li > a:hover {
    color: rgb(112, 192, 219);
}

.nav-list > li {
  position: relative;
}

.nav-stack {
  display: none;
  margin-top: 30px;
  margin-left: 80.5%;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  left: -1px;
  font-size: 16px;
  white-space: nowrap;
  background: rgba(0, 0, 0, .75);
  overflow: hidden;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

li:hover .nav-stack {
  display: block;
}

.nav-stack > li {
  margin-top: 5px;
  color: white;
}
