.playlist-show {
  position: absolute;
  overflow-y: hidden;
  padding-left: 210px;
  color: white;
}

.playlist-show-bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: calc(100vw - 210px);
  height: calc(100vh);
  filter: blur(125px);
}

.playlist-show-container {
  background: linear-gradient(135deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 75%);
  position: absolute;
  top: 0;
  height: calc(100vh);
  width: calc(100vw - 210px);
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow: auto;
}

.playlist-title {
  font-weight: 700;
  color: white;
  font-size: 24px;
  margin-top: 10px;
};

@media only screen and (max-width: 1000px) {
  .playlists {
    height: 50%;
  }
}

.playlist-info {
  display: flex;
  width: 25vw;
  height: 25vh;
  min-width: 200px;
  padding-top: 2.5%;
  align-items: center;
  text-align: center;
  flex-direction: column;
  overflow: auto;
}

.playlists {
  display: flex;
  width:  50vw;
  height: calc(100% - 90px);
  flex-wrap: wrap;
  justify-content: flex-start;
  overflow: auto;
  padding-top: 2.5vh;
}

.temp {
  color: black;
}

.cover-art {
  height: 12.5vh;
  width: 12.5vh;
  min-height: 150px;
  min-width: 150px;
  overflow: hidden;
}

.cover {
  height: 12.5vh;
  width: 12.5vh;
  min-height: 150px;
  min-width: 150px;
}

.artist-cover {
  border-radius: 50%;
}
