.playlist-show {
  // background-color: transparent;
  overflow: hidden scroll;
  padding-left: 210px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.playlist-show-container {
  background: linear-gradient(135deg, rgba(0,0,0,0) 40%, rgba(0,0,0,1) 100%);
  height: calc(92vh);
  width: calc(100vw - 210px);
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow: hidden scroll;
  backdrop-filter: blur(50px);
}

// .playlist-show-container {
//   /* This will make it stack on top of the ::before */
//   position: relative;
// }


.playlist-title {
  font-weight: 700;
  color: white;
  font-size: 36px;
  margin-top: 20px;
}

.playlist-info {
  display: flex;
  width: 25vw;
  height: 50vh;
  min-width: 200px;
  min-height: 0;
  padding-top: 2.5%;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.playlists {
  display: flex;
  width:  50vw;
  height: calc(100% - 9.75vh);
  flex-wrap: wrap;
  justify-content: flex-start;
  overflow: hidden scroll;
  padding-top: 2.5vh;
}

.temp {
  color: black;
}

.cover-art {
  height: 12.5vw;
  width: 12.5vw;
  min-height: 150px;
  min-width: 150px;
  overflow: hidden;
}

.cover {
  height: 12.5vw;
  width: 12.5vw;
  min-height: 150px;
  min-width: 150px;
}

.artist-cover {
  border-radius: 50%;
}

// .album-show {
//   width: calc(100vw-210px);
//   background-color: transparent;
//   filter: blur(1.5rem);
//   overflow: hidden scroll;
//   padding-left: 220px;
// }

