.playlist-show {
  width: 100%;
  background-color: transparent;
  margin-bottom: 0;
}

.playlist-show-container {
  // background: linear-gradient(155deg, rgba(0,212,255,1) 0%, rgb(220, 64, 181) 65%);

  background-color: transparent;
  padding-left: 220px;
  height: calc(92vh);
  width: calc(100vw - 220px);
  display: flex;
  flex-wrap: wrap;
}

.playlist-title {
  font-weight: 700;
  color: white;
  font-size: 36px;
  margin-top: 20px;
}

.playlist-info {
  display: flex;
  width: 25vw;
  padding-top: 2.5%;
  align-items: center;
  flex-direction: column;
}

.playlists {
  display: flex;
  width:  60vw;
  flex-wrap: wrap;
  justify-content: flex-start;
  overflow: hidden scroll;
  padding-top: 2.5%;
}

.temp {
  color: black;
}

.cover-art {
  height: 15vw;
  width: 15vw;
  min-height: 150px;
  min-width: 150px;
  overflow: hidden;
}

.cover {
  height: 15vw;
  width: 15vw;
  min-height: 150px;
  min-width: 150px;
}

.artist-cover {
  border-radius: 50%;
}