.session-form {
    text-align: center;
    display: flex;
    padding-top: 0%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    // font-family: 'Proxima-Nova';
    font-size: 16px;
}

#login-logo {
    display: flex;
    justify-content: center;
    height: 40px;
    width: 40px;
    align-items: center;
}

.demo-user-button {
    background-color: purple;
    color: white;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    border-radius: 500px;
    padding: 16px 110px 18px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border-width: 0;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    cursor: pointer;
}

.text-field {
    width: 410px;
    height: 40px;
    padding: 6px 12px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9dadc;
    border-radius: 0;
    margin: 10px 10px 10px 10px;
}

.login-user-button {
    text-align: center;
    background-color:  rgb(112, 192, 219);
    color: white;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    border-radius: 500px;
    width: 400px;
    padding: 16px 18px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border-width: 0;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    margin: 10px 10px 10px 10px;
}

.errors {
    color: red;
}