.song-index-item {
    border: 3px solid red;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    padding: 8px 10px;
    transition: background-color .4s;
    user-select: none;
}